<h1>Simple Form in Angular</h1>
<form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
    <input type="text" ngModel name="user" placeholder="enter user name">
    <br> <br>
    <input type="text" ngModel name="age" placeholder="enter user age">
    <br> <br>
    <input type="text" ngModel name="address" placeholder="enter user address">
    <br> <br>
    <input type="password" ngModel name="password" placeholder="enter user password">
    <br> <br>
    <button>Get User Value</button>
</form>








